{% extends 'base.html' %}
{% block content %}
<div class="col-lg-4"></div>
<div class="col-lg-4">
    {% if session %}
        <span class="label label-default">Logged in as: {{ session['username'].upper() }}</span>
    {% endif %}
    <div class="panel panel-primary see_through01">
        <div class="panel-heading">
            <h1 class='mt0 mb0'>{{title}}</h1>
        </div>
        {% if blogs %}
            {% for blog in blogs %}
                <div class='panel panel-default mb3'>
                    <div class='panel-body see_through2'>
                        <a href="{{ url_for('blog', id=blog.id, blog_title=blog.title, blog_body=blog.body) }}">
                            <h4 class='no_top_margin'>
                                <p class='wrap'>{{blog.title}}</p>
                            </h4>
                        </a>
                        <p class='wrap'>{{blog.body}}</p>
                        {% include 'date.html' %}
                        {% if blog.owner.username %}
                            <!--linkable user tag-->
                            <a href="/singleuser?username={{blog.owner.username}}&user_id={{blog.owner.id}}">
                                <span class="label label-default right">{{blog.owner.username}}</span>
                                <!--WIP: add count to name to show how many posts user has-->
                                <!--<p>Blog-id: { {blog.id}}</p>-->
                            </a>
                        {% endif %}
                        {% include 'delete_blog_form.html' %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="error">{{blog_error}}</p>
            <p class="error">No blogs yet</p>
        {% endif %}
    </div>
</div>
<div class="col-lg-4"></div>
{% endblock  %}
