{% extends 'base.html' %}
{% block content %}
<div class="col-xs-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1>{{title}}</h1>
        </div>
        <div class="panel-body">
            <div class="col-xs-12">
               <form class="form-horizontal">
                        <form>
                            <label class="col-form-label">
                                New Blog:
                                <label class="col-form-label">Title:
                                    <input class='form-control' type="text" name='blog_title' value="{{blog_title}}" />
                                </label>
                                <label class="col-form-label">Body:
                                    <input class='form-control' type="text" name='blog_body' value="{{blog_body}}" />
                                </label>
                            </label>
                            <input class='btn btn-primary' type="submit" value='Add blog' />
                        </form>
                        <hr />
                        <strong class='error' value="{{blog_body_error}}">{{blog_body_error}}</strong>
                        <strong class='error' value="{{blog_title_error}}">{{blog_title_error}}</strong>
                        {% if blogs %}
                            {% for blog in blogs %}
                                <div class='panel panel-default'>
                                    <div class='panel-body'>
                                        <form method="POST" action="/delete_blog2" class='left'>
                                            <input type="hidden" name="blog-id" value="{{blog.id}}"/>
                                            <input type="submit" value="Done" class="btn btn-primary"/>
                                        </form>
                                        <div class="left pad_left">
                                            <a href="{{ url_for('blog', id=blog.id, blog_title=blog.title, blog_body=blog.body) }}">
                                                <h3 class='no_top_margin'>{{blog.title}}</h3>
                                            </a>
                                            <p>{{blog.body}}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p class="error">No blogs yet</p>
                        {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock  %}
