{% extends 'base.html' %}
{% block content %}
<div class="col-xs-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1>{{title}}</h1>
        </div>
        <div class="panel-body">
            <div class="col-xs-12">
               <form class="form-horizontal">
                    <div class="form-group">
                        <!--blog entries in db-->
                        {% if blogs %}
                            <ul>
                                {% for blog in blogs %}
                                    <li>
                                        <h3>{{blog.title}}</h3>
                                        <p>{{blog.body}}</p>
                                        <!--delete blog-->
                                        <form method="POST" action="/delete_blog" style="display:inline-block;">
                                            <input type="hidden" name="blog-id" value="{{blog.id}}"  />
                                            <input type="submit" value="Done" class="btn btn-primary"/>
                                        </form>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p class="error">No blogs yet</p>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock  %}
