{% extends 'template.html' %}
{% block content %}
<div class="panel-body no_pad_bottom">
        <div class="form-group">
            <form action="https://duckduckgo.com" method="get">
                <label for="first no_bottom_margin" style="margin-bottom: 0;"><span class="label label-default">Search Online</span></label>
                <input type="text" name="q" id="first" class='form-control'>
                <div class="pad"></div>
                <input type="submit" class='btn btn-primary' value='Search'>
            </form>
        </div>
    </div>
</div>
{% endblock  %}
