{% extends 'base.html' %}
{% block content %}
<div class="col-lg-4"></div>
<div class="col-lg-4">
    {% if session %}
        <span class="label label-default">Logged in as: {{ session['username'].upper() }}</span>
    {% endif %}
    <div class="panel panel-primary see_through01 mb0">
        <div class="panel-heading">
            <h1 class='mt0 mb0'>{{title}}</h1>
        </div>
    </div>
    <div class="panel panel-primary mb0">
        <div class="panel-body">
            <form method="POST" action="/delete_blog3" class='left'>
                <input type="hidden" name="blog-id" value="{{id}}"/>
            </form>
            <div class="left">
                <h3 class='no_top_margin wrap'>{{blog_title}}</h3>
                <p class='wrap'>{{blog_body}}</p>
                <input type="submit" value="Delete" class="btn btn-primary btn-xs"/>
                <a href="/singleuser?username={{blog_owner}}&user_id={{blog_id}}">
                    <span class="label label-default right">{{blog_owner}}</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4"></div>
{% endblock  %}
