{% extends 'template.html' %}
{% block content %}
<div class="panel-body">
    <strong class='error' value="{{password_error}}">{{password_error}}</strong>
    <strong class='error' value="{{username_error}}">{{username_error}}</strong>
    {% if users %}
        {% for user in users %}
        <div>
            <a href="singleuser?username={{user.username}}&user_id={{user.id}}">
                <span style='display:block;' class="label label-default">{{user.blogs.count()}} Blogs by: {{user.username}}</span>
            </a>
        </div>
        <div class="pad"></div>
        {% endfor %}
    {% else %}
        <b class="error">No users signed up yet</b>
    {% endif %}
</div>
{% endblock  %}
