{% extends 'base.html' %}
{% block content %}
<div class="col-xs-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1>{{title}}</h1>
        </div>
        <div class="panel-body">
            <div class="col-xs-12">
               <form class="form-horizontal">
                    <div class="form-group">
                        <form>
                            <label class="col-form-label">
                                New Blog:
                                <label class="col-form-label">Title:
                                    <input class='form-control' type="text" name='blog_title' value="{{blog_title}}" />
                                </label>
                                <label class="col-form-label">Body:
                                    <input class='form-control' type="text" name='blog_body' value="{{blog_body}}" />
                                </label>
                            </label>
                            <input class='btn btn-primary' type="submit" value='Add blog' />
                        </form>
                        <hr />
                        <strong class='error' value="{{blog_body_error}}">{{blog_body_error}}</strong>
                        <strong class='error' value="{{blog_title_error}}">{{blog_title_error}}</strong>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock  %}
