{% extends 'template.html' %}
{% block content %}
<div class="panel-body">
    <div class="form-group">
        <form action="/randstr" method="POST">
            <span class="label label-default">Hashed Password:</span>
            <input class='form-control' type="text" name='hashed_password' value="{{hashed_password}}">
            <div class="pad"></div>
            <div class="pad"></div>
            <input class='btn btn-primary' type="submit" value='Random String'>
        </form>
    </div>
    <strong class='error' value="{{password_error}}">{{password_error}}</strong>
</div>
{% endblock  %}
