{% extends 'base.html' %}
{% block content %}
<div class="col-xs-12">
    {% if session %}
        <span class="label label-default">Logged in as: {{ session['username'].upper() }}</span>
    {% endif %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class='mt0 mb0'>{{title}}</h1>
        </div>
        <div class="panel-body">
            {% if users %}
                {% for user in users %}
                    {% if session['username'].upper() == user.username.upper() %}
                        <div class='panel panel-primary mb1'>
                            <div class='panel-body'>
                                <table class="table table-condensed no_bottom_margin">
                                    <span class="label label-default">Logged in User:</span>
                                    <tr>
                                        <th>user.username</th>
                                        <th>user.password</th>
                                        <th>user.id</th>
                                    </tr>
                                    <tr>
                                        <td>{{user.username}}</td>
                                        <td>{{user.password}}</td>
                                        <td>{{user.id}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    {% else %}
                        <div class='panel panel-default mb1'>
                            <div class='panel-body'>
                                <table class="table table-condensed no_bottom_margin">
                                    <tr>
                                        <th>user.username</th>
                                        {% if session['username'].upper() == 'ADMIN' %}
                                        <th>user.password</th>
                                        {% endif %}
                                        <th>user.id</th>
                                    </tr>
                                    <tr>
                                    {% if user in users %}
                                        <td>{{user.username}}</td>
                                        {% if session['username'].upper() == 'ADMIN' %}
                                        <td>{{user.password}}</td>
                                        {% endif %}
                                        <td>{{user.id}}</td>
                                        <!--<hr style="margin: 0;">-->
                                    {% endif %}
                                    </tr>
                                </table>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <b class="error">Not logged in yet</b>
            {% endif %}
        </div>
    </div>
</div>
{% endblock  %}
