{% extends 'base.html' %}
{% block content %}
<div class="col-xs-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1>{{title}}</h1>
        </div>
        <div class="panel-body">
            <div class="col-xs-12">
                {% if users %}
                    {% for user in users %}
                        {% if user.username == session['username'] %}
                            <div class='panel panel-default'>
                                <div class='panel-body'>
                                    <h3 class='no_top_margin'>Current Logged in User:</h3>
                                    <div><b>{{session}}</b></div>
                                    <div><b>{{session['username']}}</b></div>
                                    <div><b>{{session['password']}}</b></div>
                                    <div><b>{{session['id']}}</b></div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class='panel panel-default'>
                        <div class='panel-body'>
                            <table class="table table-condensed">
                                <h3 class='no_top_margin'>Other Users:</h3>
                                <tr>
                                    <th>user</th>
                                    <th>user.username</th>
                                    <th>user.password</th>
                                    <th>user.id</th>
                                </tr>
                                <tr>
                                    {% for user in users %}
                                        <td>{{user}}</td>
                                        <td>{{user.username}}</td>
                                        <td>{{user.password}}</td>
                                        <td>{{user.id}}
                                            <hr style="margin: 0;">
                                        </td>
                                    {% endfor %}
                                </tr>
                            </table>
                        </div>
                    </div>
                {% else %}
                    <b class="error">Not logged in yet</b>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock  %}



