{% extends 'base.html' %}
{% block content %}
<div class="col-lg-4"></div>
<div class="col-lg-4">
    {% if session %}
        <span class="label label-default">Logged in as: {{ session['username'].upper() }}</span>
    {% endif %}
    <div class="panel panel-primary see_through01">
        <div class="panel-heading">
            <h1 class='mt0 mb0'>{{title}}</h1>
        </div>
        <div class='panel panel-default mb3'>
            <div class='panel-body see_through2'>
                <form action="/signup" method="POST">
                    <div class="col-form-label">
                        <span class="label label-default">Username:</span>
                        <input class='form-control' type="username" name='username' value="{{username}}">
                        <span class="label label-default">Password:</span>
                        <input class='form-control' type="password" name='password' value="{{password}}">
                        <span class="label label-default">Verify:</span>
                        <input class='form-control' type="password" name='verify' value="{{verify}}">
                    </div>
                    <div class='pad'></div>
                    <input class='btn btn-primary' type="submit" value='Create Account'>
                </form>
                <strong class='error' value="{{password_error}}">{{password_error}}</strong>
                <strong class='error' value="{{username_error}}">{{username_error}}</strong>
            </div>
        </div>
        {% if users %} <!--{ % if users|length == 0 %}-->
            {% for user in users %}
                <div class='panel panel-default mb3'>
                    <div class='panel-body'>
                        <!-- Can enable feature to only allow delete if its your post-->
                        <!--{ % if user.username == session['username'] %}-->
                            <form action="/delete-user" method="POST" class='right'>
                                <input type="hidden" name="user-id" value="{{user.id}}">
                                <input type="submit" value="Delete" class='btn btn-primary btn-xs'>
                            </form>
                        <!--{ % endif %}-->
                        <a href="singleuser?username={{user.username}}&user_id={{user.id}}" class='left'>
                            <span class="label label-default">{{user.username}}</span>
                            <span class="label label-default">{{user.blogs.count()}}</span>
                            <!-- <p>{{user.blogs}}</p> -->
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <b class="error">
                No users signed up yet</b>
        {% endif %}
    </div>
</div>
<div class="col-lg-4"></div>
{% endblock  %}
