{% extends 'template.html' %}
{% block content %}
<div class="panel-body no_bottom_margin p0">
    <div class='panel panel-default mb0'>
        <div class='panel-body'>
            {% if blog %}
                <div class="">
                    {% include 'blog_title_url.html' %}
                    <p class='wrap'>{{blog.body}}</p>
                    {% if blog.owner.username %}
                        {% include 'blog_owner_link.html' %}
                        <!--<p>Owner-id:        { {blog.owner.id}}</p>-->
                        <!--<p>Blog-id:         { { blog.id}}</p>-->
                    {% endif %}
                    {% include 'delete_blog_form.html' %}
                </div>
                    {% include 'date.html' %}
            {% else %}
                <p class="error">{{blog_error}}</p>
                <p class="error">No blogs yet</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock  %}
