{% extends 'base.html' %}
{% block content %}
<div class="col-lg-4"></div>
<div class="col-lg-4">
    {% if session %}
        <span class="label label-default">Logged in as: {{ session['username'].upper() }}</span>
    {% endif %}
    {% if blogs %}
        <div class="panel panel-primary see_through01">
            <div class="panel-heading">
                <h1 class='mt0 mb0'>{{title}}</h1>
            </div>
            {% for blog in blogs %}
                <!--double checking-->
                <!-- { % if blog.owner.id == owner_id %} -->
                <div class='panel panel-default mb3'>
                    <div class='panel-body see_through2'>
                        <a href="{{ url_for('blog', id=blog.id, blog_title=blog.title, blog_body=blog.body) }}">
                            <h4 class='no_top_margin'>
                                <p class='wrap'>{{blog.title}}</p>
                            </h4>
                        </a>
                        <p class='wrap'>{{blog.body}}</p>
                        {% if blog.owner.username %}
                            {% include 'blog_owner_link.html' %}
                        {% endif %}

                        {% include 'delete_blog_form.html' %}
                    </div>
                </div>
                <!-- { % endif %} -->
          {% endfor %}
    {% else %}
        {% include 'panel_primary_title.html' %}
        <p class="error">{{blog_error}}</p>
        <b class="alert alert-info">{{username}} has not written any blogs yet.</b>
    {% endif %}
    </div>
</div>
<div class="col-lg-4"></div>
{% endblock  %}
