<span class="label label-default left">Sort by: </span>
<a href="?sort=newest">
    <span class="label label-default right">newest</span>
</a>
<a href="?sort=oldest">
    <span class="label label-default right">oldest</span>
</a>
<a href="?sort=title">
    <span class="label label-default right">title</span>
</a>
<a href="?sort=user">
    <span class="label label-default right">user</span>
</a>
<!-- <a href="/timeline?sort=title2">
    <span class="label label-default right">title2</span>
</a> -->

<!-- <select>
    <option value="newest">
        <a href="/timeline?sort=newest">
        <span class="label label-default right">newest</span>
    </a>
    </option>
    <option value="oldest">
        <a href="/timeline?sort=oldest">
            <span class="label label-default right">oldest</span>
        </a>
    </option>
    <option value="title">
        <a href="/timeline?sort=title">
            <span class="label label-default right">title</span>
        </a>
    </option>
    <option value="title reversed">
        <a href="/timeline?sort=title2">
            <span class="label label-default right">title2</span>
        </a>
    </option>
</select> -->
