{% include 'base.html' %}
<div class="col-lg-4"></div>
<div class="col-lg-4">
    {% include 'session_login_label.html' %}
    <div class="panel panel-primary see_through01">
        <div class="panel-heading">
            <h1 class='mt0 mb0'>{{title}}</h1>
            {% if not session %}
                <p>If you don't have an account <a href="/signup">Sign up</a> for one</p>
            {% endif %}
        </div>
        <div class='panel panel-default m0'>
            <div class='panel-body see_through2 p0'>
                {% block content %}
                {% endblock %}
                <strong class='error' value="{{error}}">{{error}}</strong>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4"></div>
