<span class="label label-default">Title</span>
<input class='form-control' type="text" name='blog_title' value={{blog_title}}>

<span class="label label-default wrap">Body</span>
<textarea class='form-control' type="text" name='blog_body' value={{blog_body}}>{{blog_body}}</textarea>

<input type="hidden" name='blog_id' value={{id}}>
<div class="pad"></div>

<strong class='error' value="{{blog_body_error}}">{{blog_body_error}}</strong>
<strong class='error' value="{{blog_title_error}}">{{blog_title_error}}</strong>
